/*---------------COLLAPSIBLE---------------*/

.collapsible {
    background-color: #014C67;
    color: white;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 18px;
    border-radius: 0;
    margin-top: 10px;
    font-family: 'Lato';
    font-weight: 700;
    border: none;
}

.active2, .collapsible:hover {
    color: lightgray;
}

.content {
    background-color: #047CA4;
    color: white;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 18px;
    text-align: center;
    padding: 0 12px;
    font-family: 'Lato';
    max-height: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.collapsible:after {
    content: "+"; /* Unicode character for "plus" sign (+) */
    font-size: 25px;
    color: white;
    float: right;
}

.active2:after {
    content: "-"; /* Unicode character for "minus" sign (-) */
    font-size: 25px;
}