html, body {
  width: 100%;
  height: auto;
}

/* BACKGROUND */
.bg-blue {
  background-color: blue;
}


/* CAROUSEL */
.carousel-img {
	width :100%;
	position: center;
	height: auto;
}

.carousel-bg-1 {
	background-image: url(../img/slider1.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
}


/* BUTTON */
.btn-victory {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  box-shadow: none;
}

.btn-victory:hover {
  background-color: white;
  border: 2px solid white;
  color : #014C67;
  box-shadow: none;
}

.btn-victory-b {
  background-color: #014C67;
  color: white;
  padding: 12px 16px;
}

.btn-victory-b:hover {
  background-color: white;
  color: #014C67;
  transition: 0.5s;
}

.btn-victory-c {
  background-color: #014C67;
  color: white;
  padding: 6px 16px;
  font-weight: 400;
}

.btn-victory-c:hover {
  background-color: #F2F2F2;
  color: #014C67;
  transition: 0.2s;
}


a.link-a {
	color: white;
}

a.link-a:hover {
	color: lightgray;
}

a.link-b span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: black;
  font-family: 'Lato';
  font-weight: 700;
}

a.link-b span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

a.link-b:hover span {
  padding-right: 10px;
}

a.link-b:hover span:after {
  opacity: 1;
  right: 0;
}

a.link-c {
	color: black;
  text-decoration: none;
}

a.link-c:hover {
	color: #014C67;
}

a.link-prev, a.link-next {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
a.link-prev .hvr-icon, a.link-next .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.link-prev:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}

a.link-next:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}



/* IMAGE */
img.logo {
	width: 80px;
	margin-top: -25px;
}

@media (max-width: 768px) {
	img.logo {
		width: 50px;
		margin-top: -10px;
	}
}




/* IFRAME */
iframe.maps {
	width: 100%;
	height: 468px;
	border: none;
	frameborder: 0;
}

iframe.widget {
	width: 100%;
	height: 700px;
	border: none;
	framborder: 0;
}


@media (max-width: 768px) {
	iframe.maps {
		height: 250px;
	}
	iframe.widget {
		width: 100%;
	}
}


/* PARALLAX */
.parallax { 
    /* The image used */
    background-image: url("../img/welcome.jpg");
    width: 100%;
    height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
	.parallax { 
		height: 400px;
	}
}


/* COLUMN */
.col-parallax {
	background-image: linear-gradient(-90deg, rgba(65,117,125,.50), rgba(4,124,164,.50));
}


/* LINE */
hr.hr-a {
	height: 3px;
	width: 100px;
	margin-top: 3px;
	background-color: #014C67;
}



/* MAX WIDTH */
.max-width-a { 
	max-width: 600px;
}




/* BORDER */
.border-a {
	border-left: 3px solid #F2F2F2;
}

@media (max-width: 992px) {
	.border-a {
		border-left: none;
		border-top: 3px solid #F2F2F2;
	}
}

/* LABEL */
.label-victory {
    color: white;
    background-color:#014C67;
    padding: 24px 12px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 15px;
    border-left: 6px solid #047CA4;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    position: absolute;
    top: 20%;
    left: 12px;
}

.label-victory-b {
    color: white;
    background-color:#014C67;
    padding: 8px;
    font-family: 'Lato';
    border-left: 6px solid #047CA4;
    position: absolute;
    top: 0%;
    left: 0;
}




/* ICON BAR */
.icon-bar {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #014C67;
}

.facebook {
  background: #3B5998;
  color: white;
}

.instagram {
  background: #8A49A1;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}


@media (max-width: 1200px) {
  .icon-bar {
  	position: absolute;
  	top: 120px;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	z-index: 30;
  }
  .icon-bar a {
  	display: inline-block;
  	margin-right: -5px;
  }
}




/*---------------VERTICAL CENTER---------------*/
.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .vertical-center {
    margin: 0;
    position: relative;
    top: 0;
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}




/*---------------FADE IN LOAD---------------*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.7s;
  -moz-animation-duration:0.7s;
  animation-duration:0.7s;
}

.fade-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

/*---------------PARAGRAPH---------------*/
p.p-a {
  font-size: 15px;
}

