.section-promo {
	background-color:#014C67;
}

.section-socmed {
	background-color:#014C67;
	border-bottom: 2px solid #047CA4;
}

.section-contact {
	background-image: url(../img/city.jpg);
	background-size: cover;
	background-position: center;
}

.section-club, .section-feeds, .section-profile, 
.section-news, .section-academics, .section-gallery {
	background-color: white;
}