.page-login-v3:before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url('../img/bg-login.jpg');
  background-position: center;
  background-size: cover;
}

.page-login-v3 .panel {
  width: 100%
  margin-bottom: 45px;
  background: white;
  border-radius: 10px;
  border: none;
}

.page-login-v3 .panel .panel-body {
  padding: 40px;
}

.page-login-v3 .panel .brand-text {
  margin-top: 15px;
}

.page-login-v3 form {
  margin: 40px 0 30px;
}

.page-login-v3 form a {
  margin-left: 30px;
}

.page-login-v3 form .form-material.floating + .page-login-v3 form .form-material.floating {
  margin-top: 30px;
}

.page-login-v3 form .form-material label {
  font-weight: 500;
  font-family: 'Lato';
  font-size: 15px;
  color: gray;
  float: left;
}

h4.title {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Lato'; 
}

h5.title {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Lato'; 
}

.btn-victory-b {
  background-color: #014C67;
  color: white;
  padding: 12px 16px;
}

.btn-victory-b:hover {
  background-color: white;
  color: #014C67;
  transition: 0.5s;
}

@media (max-width: 475px) {
  .page-login-v3 .page-content {
    padding: 30px 20px;
  }

  .page-login-v3 .panel {
    width: auto;
    padding: 10px;
  }

  .page-login-v3 .panel .panel-body {
    padding: 30px 20px;
  }
}
