.dashboard .card, .dashboard .panel {
  margin-bottom: 30px;
}

.dashboard .card-block {
  border-radius: 3px;
}

#widgetLineareaOne .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaOne .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #7986cb;
}

#widgetLineareaTwo .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaTwo .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #ffd54f;
}

#widgetLineareaThree .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaThree .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #4dd0e1;
}

#widgetLineareaFour .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaFour .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #81c784;
}

#widgetJvmap path {
  fill: #c5cae9;
}

#widgetCurrentChart .ct-chart .ct-series.ct-series-a .ct-bar {
  stroke: #fff;
  stroke-width: 3%;
}

#widgetCurrentChart .ct-chart .ct-series.ct-series-b .ct-bar {
  stroke: rgba(232, 234, 246, .4);
  stroke-width: 3%;
}

#widgetCurrentChart .ct-chart .ct-label {
  font-size: 14px;
  color: #fff;
  fill: #fff;
}

#widgetCurrentChart > div {
  position: relative;
}

#widgetCurrentChart > div .btn-floating {
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

#widgetUserList .card-header .overlay-background {
  background-color: rgba(103, 58, 183, .8);
}

@media (max-width: 479px) {
  #widgetUserList .card-header .avatar {
    width: 80px;
  }
}

#widgetUserList .card-block {
  position: relative;
  height: auto;
}

#widgetUserList .card-block .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

#widgetUserList .card-block .list-group-item .media-body {
  vertical-align: bottom;
}

#widgetUserList .card-block .list-group-dividered .list-group-item:last-child {
  border-bottom: none;
}

#widgetUserList .card-block .btn-floating {
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

#chat .card-header {
  border-bottom: none;
}

#chat .card-header > * {
  padding: 0 30px;
  margin: 0;
  line-height: 50px;
}

#chat .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  border-top: none;
}

#projects .table > thead > tr > td, #projects .table > tbody > tr > td, #projects-status .table > thead > tr > td, #projects-status .table > tbody > tr > td {
  vertical-align: middle;
}
